In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

#Let's read the first n rows of the file "yt_with_less_col_2020_01.csv" inside the folder interim in data
yt_df = pd.read_csv("data/interim/yt_with_less_col_2020_01.csv")
yt_df.head()

,Unnamed: 0,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,PULocationID,DOLocationID,payment_type,fare_amount,congestion_surcharge
0,0,1577838495,1577838783,1.0,1.2,238,239,1,6.0,2.5
1,1,1577838939,1577839384,1.0,1.2,239,238,1,7.0,2.5
2,2,1577839661,1577840032,1.0,0.6,238,238,1,6.0,2.5
3,3,1577840123,1577840414,1.0,0.8,238,151,1,5.5,0.0
4,4,1577836918,1577837056,1.0,0.0,193,193,2,3.5,0.0

In [3]:
#Let's read the first n rows of the file "nyc_zone_lookup.csv" inside the folder raw in data
districts_df = pd.read_csv("data/raw/nyc_zone_lookup.csv")
districts_df.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [5]:
# Lets merge df
yt_df["PULocationID"] = yt_df["PULocationID"].apply(lambda x: districts_df.loc[x-1]["Borough"]).astype("object")

In [6]:
yt_df["DOLocationID"] = yt_df["DOLocationID"].apply(lambda x: districts_df.loc[x-1]["Borough"]).astype("object")

In [8]:
#Now let's add the changes entered into yt_df into a new csv file called "yt_with_less_col_and_join_with_districts_2020_01.csv"
yt_districts_df = yt_df.to_csv("data/interim/yt_with_less_col_and_join_with_districts_2020_01.csv")

In [145]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

#Let's read the first n rows of the file "yt_with_less_col_and_join_with_districts_2020_01.csv" using the desired columns
yt_districts_df = pd.read_csv("data/interim/yt_with_less_col_and_join_with_districts_2020_01.csv", usecols=["tpep_pickup_datetime", "tpep_dropoff_datetime", "passenger_count", "trip_distance", "PULocationID","DOLocationID","payment_type","fare_amount","congestion_surcharge"])
yt_districts_df.head()

,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,PULocationID,DOLocationID,payment_type,fare_amount,congestion_surcharge
0,1577838495,1577838783,1.0,1.2,Manhattan,Manhattan,1,6.0,2.5
1,1577838939,1577839384,1.0,1.2,Manhattan,Manhattan,1,7.0,2.5
2,1577839661,1577840032,1.0,0.6,Manhattan,Manhattan,1,6.0,2.5
3,1577840123,1577840414,1.0,0.8,Manhattan,Manhattan,1,5.5,0.0
4,1577836918,1577837056,1.0,0.0,Queens,Queens,2,3.5,0.0

In [146]:
#Now let's remove from from the table the rows with the passenger_count == 0 or NaN (null)
yt_districts_df.drop(yt_districts_df[(yt_districts_df['passenger_count'] == 0)|(yt_districts_df["passenger_count"].isna())].index,inplace=True)

In [147]:
#Let's check and verify that there are no rows with passenger_count == 0
yt_districts_df.loc[yt_districts_df['passenger_count'] == 0]

Empty DataFrame
Columns: [tpep_pickup_datetime, tpep_dropoff_datetime, passenger_count, trip_distance, PULocationID, DOLocationID, payment_type, fare_amount, congestion_surcharge]
Index: []

In [148]:
#Let's check and verify that there are no rows with passenger_count NaN
yt_districts_df.loc[yt_districts_df['passenger_count'].isna()]

Empty DataFrame
Columns: [tpep_pickup_datetime, tpep_dropoff_datetime, passenger_count, trip_distance, PULocationID, DOLocationID, payment_type, fare_amount, congestion_surcharge]
Index: []

In [149]:
#Let's see the table
yt_districts_df

,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,PULocationID,DOLocationID,payment_type,fare_amount,congestion_surcharge
0,1577838495,1577838783,1.0,1.20,Manhattan,Manhattan,1,6.0,2.5
1,1577838939,1577839384,1.0,1.20,Manhattan,Manhattan,1,7.0,2.5
2,1577839661,1577840032,1.0,0.60,Manhattan,Manhattan,1,6.0,2.5
3,1577840123,1577840414,1.0,0.80,Manhattan,Manhattan,1,5.5,0.0
4,1577836918,1577837056,1.0,0.00,Queens,Queens,2,3.5,0.0
...,...,...,...,...,...,...,...,...,...
6339562,1580513887,1580514741,1.0,2.10,Manhattan,Manhattan,1,11.0,2.5
6339563,1580511618,1580512758,1.0,2.13,Manhattan,Manhattan,1,13.0,2.5
6339564,1580513062,1580514039,1.0,2.55,Manhattan,Manhattan,1,12.5,2.5
6339565,1580514262,1580514840,1.0,1.61,Manhattan,Manhattan,2,8.5,2.5
6339566,1580512777,1580512841,1.0,0.00,Queens,Queens,1,0.0,0.0

In [150]:
#Let's look at the table by setting the condition that PULocationID is different from DOLocationID and the trip_distance == 0
yt_districts_df.loc[(yt_districts_df['PULocationID'] != yt_districts_df['DOLocationID']) & (yt_districts_df['trip_distance'] == 0)]

,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,PULocationID,DOLocationID,payment_type,fare_amount,congestion_surcharge
2032,1577839604,1577839604,4.0,0.0,Manhattan,Unknown,2,0.0,0.0
2055,1577839082,1577839082,1.0,0.0,Manhattan,Unknown,2,7.0,2.5
2056,1577839600,1577839600,1.0,0.0,Manhattan,Unknown,2,7.0,2.5
2365,1577838614,1577841044,1.0,0.0,Manhattan,Queens,1,42.2,0.0
2720,1577838882,1577839653,1.0,0.0,Unknown,Bronx,1,22.2,0.0
...,...,...,...,...,...,...,...,...,...
6338612,1580515106,1580515108,1.0,0.0,Manhattan,Unknown,1,12.0,0.0
6338666,1580514846,1580517320,1.0,0.0,Queens,Brooklyn,1,32.2,0.0
6338932,1580511915,1580514703,4.0,0.0,Manhattan,Brooklyn,2,44.0,2.5
6338992,1580514159,1580514162,1.0,0.0,Bronx,Unknown,1,16.0,0.0
6339401,1580512668,1580512671,5.0,0.0,Manhattan,Unknown,1,65.0,0.0

In [151]:
#Let's see districts with unique PULocation values
districs = yt_districts_df["PULocationID"].unique()
#Let's create a dictionary with the values ​​of PULocation, DOLocation and Average trip
dict_avg_trip = {
    "PUL" : [],
    "DOL" : [],
    "AVG_TRIP": []
}

#Create a table with the information of PULocationID, DOLocationID and Average trip
for i in range(len(districs)):
    for j in range(len(districs)):
        PUL=districs[i]
        DOL=districs[j]
        avg_trip = yt_districts_df.query("PULocationID == @PUL and DOLocationID == @DOL")["trip_distance"].mean()
        dict_avg_trip["PUL"].append(PUL)
        dict_avg_trip["DOL"].append(DOL)
        dict_avg_trip["AVG_TRIP"].append(avg_trip)

avg_trip_df = pd.DataFrame(dict_avg_trip)

In [152]:
#Calculate the average trip_distance between the values ​​that have PULocationID == Manhattan and DOLocationID == Queens
yt_districts_df.query("PULocationID == 'Manhattan' and DOLocationID == 'Queens'")["trip_distance"].mean()

10.273203884058644

In [153]:
#Calculate the average trip_distance between the values ​​that have PULocationID == Queens and DOLocationID == Manhattan
yt_districts_df.query("PULocationID == 'Queens' and DOLocationID == 'Manhattan'")["trip_distance"].mean()

13.40305313472092

In [154]:
#null_trip are rows where trip_distance == 0 and trip duration is under 10minuts
#65330 totali, 48205 in 10 minuti, 46289 in 5 minuti, 45197 in 3 minuti
null_trip = yt_districts_df.loc[(yt_districts_df['tpep_dropoff_datetime']-yt_districts_df['tpep_pickup_datetime']<600) & (yt_districts_df['trip_distance'] == 0)]

#Now let's remove from from the table the rows with the passenger_count == 0 or NaN (null)
yt_districts_df.drop(null_trip.index,inplace=True)

In [155]:
#Check if all null trips were deleted
yt_districts_df.loc[(yt_districts_df['tpep_dropoff_datetime']-yt_districts_df['tpep_pickup_datetime']<600) & (yt_districts_df['trip_distance'] == 0)]

Empty DataFrame
Columns: [tpep_pickup_datetime, tpep_dropoff_datetime, passenger_count, trip_distance, PULocationID, DOLocationID, payment_type, fare_amount, congestion_surcharge]
Index: []

In [156]:
#Lets find others accorency where trip_distance is equal to 0s
null_trip = yt_districts_df.loc[(yt_districts_df['trip_distance'] == 0)]
null_trip.reset_index()

,index,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,PULocationID,DOLocationID,payment_type,fare_amount,congestion_surcharge
0,473,1577838666,1577840697,1.0,0.0,Manhattan,Manhattan,1,26.2,0.0
1,646,1577839475,1577841362,1.0,0.0,Brooklyn,Brooklyn,1,39.2,0.0
2,957,1577837751,1577840000,1.0,0.0,Manhattan,Manhattan,2,2.5,2.5
3,2365,1577838614,1577841044,1.0,0.0,Manhattan,Queens,1,42.2,0.0
4,2720,1577838882,1577839653,1.0,0.0,Unknown,Bronx,1,22.2,0.0
...,...,...,...,...,...,...,...,...,...,...
17120,6336733,1580511962,1580512724,1.0,0.0,Manhattan,Manhattan,2,8.5,2.5
17121,6337014,1580514480,1580516431,1.0,0.0,Manhattan,Queens,1,28.2,0.0
17122,6337429,1580513422,1580516063,1.0,0.0,Manhattan,Brooklyn,1,28.2,0.0
17123,6338666,1580514846,1580517320,1.0,0.0,Queens,Brooklyn,1,32.2,0.0
17124,6338932,1580511915,1580514703,4.0,0.0,Manhattan,Brooklyn,2,44.0,2.5

In [157]:
#Let's take the null_trips considered above and replace the values ​​that have trip_distance == 0 or NaN with the AVG_TRIP of the route
for i in range(len(null_trip.index)):
    PULL=null_trip.iloc[i]["PULocationID"]
    DOL=null_trip.iloc[i]["DOLocationID"]
    INDEX=null_trip.index[i]
    AVG=avg_trip_df.loc[(avg_trip_df["PUL"]==PULL)&(avg_trip_df["DOL"]==DOL)]["AVG_TRIP"]
    yt_districts_df.at[INDEX,"trip_distance"] = AVG

In [158]:
#Verify that all occurency of trip_distance = 0 were updated
yt_districts_df.loc[(yt_districts_df['trip_distance'] == 0)]

Empty DataFrame
Columns: [tpep_pickup_datetime, tpep_dropoff_datetime, passenger_count, trip_distance, PULocationID, DOLocationID, payment_type, fare_amount, congestion_surcharge]
Index: []

In [159]:
#Lets check unkown trips
unknow_trip = yt_districts_df.loc[(yt_districts_df['DOLocationID'] == 'Unknown')|(yt_districts_df['PULocationID'] == 'Unknown')]
unknow_trip

,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,PULocationID,DOLocationID,payment_type,fare_amount,congestion_surcharge
131,1577840001,1577841374,1.0,12.92,Queens,Unknown,1,36.0,0.0
303,1577839570,1577840975,1.0,10.91,Queens,Unknown,1,45.5,0.0
388,1577838990,1577840974,1.0,19.19,Unknown,Unknown,1,52.0,2.5
790,1577839535,1577843111,2.0,37.61,Manhattan,Unknown,2,144.0,2.5
968,1577838742,1577839375,1.0,1.80,Unknown,Unknown,1,9.0,0.0
...,...,...,...,...,...,...,...,...,...
6339183,1580514674,1580515805,2.0,2.85,Unknown,Manhattan,1,14.5,2.5
6339198,1580511543,1580511546,1.0,0.02,Unknown,Unknown,1,48.0,0.0
6339399,1580512082,1580512474,2.0,0.80,Unknown,Unknown,2,6.0,0.0
6339400,1580514230,1580514720,1.0,1.50,Unknown,Unknown,1,7.5,0.0
6339476,1580513825,1580515705,2.0,18.58,Unknown,Manhattan,1,52.0,2.5

In [160]:

avg_trip_df["AVG_DUR_S"] = 0
avg_trip_df

              PUL            DOL   AVG_TRIP  AVG_DUR_S
0       Manhattan      Manhattan   1.829472          0
1       Manhattan         Queens  10.273204          0
2       Manhattan          Bronx   7.977980          0
3       Manhattan       Brooklyn   6.197385          0
4       Manhattan        Unknown   5.894141          0
5       Manhattan            EWR  17.579406          0
6       Manhattan  Staten Island  19.422238          0
7          Queens      Manhattan  13.403053          0
8          Queens         Queens   5.735525          0
9          Queens          Bronx  15.986230          0
10         Queens       Brooklyn  13.983747          0
11         Queens        Unknown  16.143904          0
12         Queens            EWR  34.482507          0
13         Queens  Staten Island  27.676541          0
14          Bronx      Manhattan   4.208579          0
15          Bronx         Queens   9.182201          0
16          Bronx          Bronx   1.699654          0
17          Bronx       Brooklyn  11.656013          0
18          Bronx        Unknown   6.729934          0
19          Bronx            EWR  27.560000          0
20          Bronx  Staten Island  34.941429          0
21       Brooklyn      Manhattan   5.203737          0
22       Brooklyn         Queens   7.911979          0
23       Brooklyn          Bronx  12.007442          0
24       Brooklyn       Brooklyn   1.910949          0
25       Brooklyn        Unknown   3.672889          0
26       Brooklyn            EWR  19.728667          0
27       Brooklyn  Staten Island  15.092685          0
28        Unknown      Manhattan   2.648024          0
29        Unknown         Queens   9.080517          0
30        Unknown          Bronx   9.826174          0
31        Unknown       Brooklyn  10.305398          0
32        Unknown        Unknown   2.145455          0
33        Unknown            EWR  14.032800          0
34        Unknown  Staten Island  19.145000          0
35            EWR      Manhattan  12.922000          0
36            EWR         Queens  28.330000          0
37            EWR          Bronx        NaN          0
38            EWR       Brooklyn        NaN          0
39            EWR        Unknown   0.328148          0
40            EWR            EWR   0.683355          0
41            EWR  Staten Island        NaN          0
42  Staten Island      Manhattan  28.070862          0
43  Staten Island         Queens  31.657111          0
44  Staten Island          Bronx  33.794286          0
45  Staten Island       Brooklyn  16.267083          0
46  Staten Island        Unknown   9.864000          0
47  Staten Island            EWR        NaN          0
48  Staten Island  Staten Island   5.000149          0

In [161]:
# Lets compute avg trip duration for each PUL DOL combo
for i in avg_trip_df.index:
    PUL=avg_trip_df["PUL"][i]
    DOL=avg_trip_df["DOL"][i]
    PUL_DOL_trips_df = yt_districts_df.query("PULocationID == @PUL and DOLocationID == @DOL")
    duration=0
    for j in PUL_DOL_trips_df.index:
        duration = duration + (PUL_DOL_trips_df["tpep_dropoff_datetime"][j]-PUL_DOL_trips_df["tpep_pickup_datetime"][j])

    print(PUL+"->"+DOL+": "+str(avg_duration))    
    avg_duration = duration/PUL_DOL_trips_df.__len__() if PUL_DOL_trips_df.__len__() != 0 else 0
    avg_trip_df.at[i,"AVG_DUR_S"] = avg_duration

avg_trip_df.drop(avg_trip_df.loc[(avg_trip_df["PUL"]=="Unknown")|(avg_trip_df["DOL"]=="Unknown")].index, inplace=True)

Manhattan->Manhattan: 1636.2654867256638
Manhattan->Queens: 816.9600447388636
Manhattan->Bronx: 2016.873865245757
Manhattan->Brooklyn: 1769.054346092504
Manhattan->Unknown: 1762.0674359699917
Manhattan->EWR: 2234.957197926359
Manhattan->Staten Island: 2608.749579517847
Queens->Manhattan: 3057.7542043984477
Queens->Queens: 2332.871047040971
Queens->Bronx: 1184.5953443243545
Queens->Brooklyn: 2175.141265060241
Queens->Unknown: 2374.1221919112395
Queens->EWR: 2611.72370679088
Queens->Staten Island: 3674.8601583113455
Bronx->Manhattan: 2802.305986696231
Bronx->Queens: 1751.2653437932627
Bronx->Bronx: 2105.021798365123
Bronx->Brooklyn: 856.8140293637847
Bronx->Unknown: 3345.47385620915
Bronx->EWR: 1812.4736842105262
Bronx->Staten Island: 3365.0
Brooklyn->Manhattan: 2927.714285714286
Brooklyn->Queens: 1491.38085869691
Brooklyn->Bronx: 1910.318927444795
Brooklyn->Brooklyn: 2856.1572327044023
Brooklyn->Unknown: 874.2968657599054
Brooklyn->EWR: 1573.6818181818182
Brooklyn->Staten Island: 2398.9
Unknown->Manhattan: 2112.537037037037
Unknown->Queens: 790.8968110709988
Unknown->Bronx: 1810.01730920535
Unknown->Brooklyn: 1541.2173913043478
Unknown->Unknown: 1780.6493902439024
Unknown->EWR: 1005.963222561227
Unknown->Staten Island: 2069.9189189189187
EWR->Manhattan: 2749.0
EWR->Queens: 2129.0
EWR->Bronx: 2038.5
EWR->Brooklyn: 0
EWR->Unknown: 0
EWR->EWR: 649.9473684210526
EWR->Staten Island: 586.8618421052631
Staten Island->Manhattan: 0
Staten Island->Queens: 4569.896551724138
Staten Island->Bronx: 3144.133333333333
Staten Island->Brooklyn: 3562.1428571428573
Staten Island->Unknown: 4354.958333333333
Staten Island->EWR: 2599.2
Staten Island->Staten Island: 0

In [162]:
avg_trip_df

              PUL            DOL   AVG_TRIP    AVG_DUR_S
0       Manhattan      Manhattan   1.829472   816.960045
1       Manhattan         Queens  10.273204  2016.873865
2       Manhattan          Bronx   7.977980  1769.054346
3       Manhattan       Brooklyn   6.197385  1762.067436
5       Manhattan            EWR  17.579406  2608.749580
6       Manhattan  Staten Island  19.422238  3057.754204
7          Queens      Manhattan  13.403053  2332.871047
8          Queens         Queens   5.735525  1184.595344
9          Queens          Bronx  15.986230  2175.141265
10         Queens       Brooklyn  13.983747  2374.122192
12         Queens            EWR  34.482507  3674.860158
13         Queens  Staten Island  27.676541  2802.305987
14          Bronx      Manhattan   4.208579  1751.265344
15          Bronx         Queens   9.182201  2105.021798
16          Bronx          Bronx   1.699654   856.814029
17          Bronx       Brooklyn  11.656013  3345.473856
19          Bronx            EWR  27.560000  3365.000000
20          Bronx  Staten Island  34.941429  2927.714286
21       Brooklyn      Manhattan   5.203737  1491.380859
22       Brooklyn         Queens   7.911979  1910.318927
23       Brooklyn          Bronx  12.007442  2856.157233
24       Brooklyn       Brooklyn   1.910949   874.296866
26       Brooklyn            EWR  19.728667  2398.900000
27       Brooklyn  Staten Island  15.092685  2112.537037
35            EWR      Manhattan  12.922000  2129.000000
36            EWR         Queens  28.330000  2038.500000
37            EWR          Bronx        NaN     0.000000
38            EWR       Brooklyn        NaN     0.000000
40            EWR            EWR   0.683355   586.861842
41            EWR  Staten Island        NaN     0.000000
42  Staten Island      Manhattan  28.070862  4569.896552
43  Staten Island         Queens  31.657111  3144.133333
44  Staten Island          Bronx  33.794286  3562.142857
45  Staten Island       Brooklyn  16.267083  4354.958333
47  Staten Island            EWR        NaN     0.000000
48  Staten Island  Staten Island   5.000149  1636.265487

In [163]:
import random as r
dropped=0
for i in unknow_trip.index:
    PUL = unknow_trip["PULocationID"][i]
    DOL = unknow_trip["DOLocationID"][i]
    T_DUR = (unknow_trip["tpep_dropoff_datetime"][i] - unknow_trip["tpep_pickup_datetime"][i])
    T_DIST = unknow_trip["trip_distance"][i]

    T_DUR_UPPERB=T_DUR+900
    T_DUR_LOWERB=T_DUR-900
    
    T_DIST_UPPERB=T_DIST+3
    T_DIST_LOWERB=T_DIST-3

    similar_trips = avg_trip_df.query("(PUL == @PUL or DOL == @DOL) or ((AVG_TRIP>@T_DIST_LOWERB and AVG_TRIP<@T_DIST_UPPERB) and (AVG_DUR_S>@T_DUR_LOWERB and AVG_DUR_S<@T_DUR_UPPERB))")

    if len(similar_trips.index)>0:
        #print(PUL+"->"+DOL+": DIS "+str(T_DIST)+" U "+str(T_DIST_UPPERB)+" L "+str(T_DIST_LOWERB)+" D "+str(T_DUR)+" U "+str(T_DUR_UPPERB)+" L "+str(T_DUR_LOWERB))    
        rand_row_index = r.choice(similar_trips.index)
        yt_districts_df.at[i,"PULocationID"] = similar_trips.at[rand_row_index,"PUL"]
        yt_districts_df.at[i,"DOLocationID"] = similar_trips.at[rand_row_index,"DOL"]
    else:
        dropped=dropped+1
        yt_districts_df.drop(i,inplace=True)

dropped

366

In [164]:
yt_districts_df.to_csv("./data/interim/yt_districts_with_trip_data_cleaned.csv")

In [165]:
#Lets check unkown trips
yt_districts_df.loc[(yt_districts_df['DOLocationID'] == 'Unknown')|(yt_districts_df['PULocationID'] == 'Unknown')]

Empty DataFrame
Columns: [tpep_pickup_datetime, tpep_dropoff_datetime, passenger_count, trip_distance, PULocationID, DOLocationID, payment_type, fare_amount, congestion_surcharge]
Index: []

In [168]:
#Lets find rows where fare amount is negative and drop them
yt_districts_df.loc[yt_districts_df.fare_amount<=0]

,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,PULocationID,DOLocationID,payment_type,fare_amount,congestion_surcharge
160,1577840068,1577840321,1.0,0.60,Manhattan,Manhattan,3,-4.5,-2.5
372,1577840233,1577840285,1.0,0.11,Queens,Queens,3,-2.5,0.0
667,1577838991,1577839043,3.0,0.18,Manhattan,Manhattan,3,-3.0,-2.5
677,1577838195,1577838234,2.0,0.09,Manhattan,Manhattan,3,-2.5,-2.5
1007,1577837619,1577838266,2.0,1.26,Manhattan,Manhattan,4,-8.5,-2.5
...,...,...,...,...,...,...,...,...,...
6337812,1580513080,1580514634,3.0,4.49,Manhattan,Manhattan,2,-19.5,-2.5
6338071,1580514773,1580516529,1.0,7.28,Manhattan,Brooklyn,4,-25.5,-2.5
6338169,1580513144,1580513399,1.0,0.96,Manhattan,Manhattan,4,-5.0,-2.5
6338894,1580513403,1580513889,1.0,0.84,Manhattan,Manhattan,3,-6.5,-2.5
6338945,1580512054,1580512258,1.0,0.47,Manhattan,Manhattan,4,-4.0,-2.5

In [169]:
yt_districts_df.drop(yt_districts_df.loc[yt_districts_df.fare_amount<=0].index, inplace=True)

In [170]:
#Verify
yt_districts_df.loc[yt_districts_df.fare_amount<=0]

Empty DataFrame
Columns: [tpep_pickup_datetime, tpep_dropoff_datetime, passenger_count, trip_distance, PULocationID, DOLocationID, payment_type, fare_amount, congestion_surcharge]
Index: []

In [171]:
#Lets find rows where congestion_surcharge is negative and drop them
yt_districts_df.loc[yt_districts_df.congestion_surcharge<=0]

,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,PULocationID,DOLocationID,payment_type,fare_amount,congestion_surcharge
3,1577840123,1577840414,1.0,0.80,Manhattan,Manhattan,1,5.5,0.0
5,1577837384,1577837437,1.0,0.03,Queens,Queens,2,2.5,0.0
18,1577837301,1577838329,1.0,8.45,Queens,Queens,2,24.5,0.0
39,1577840129,1577840782,1.0,1.50,Manhattan,Manhattan,1,9.0,0.0
42,1577840097,1577840330,6.0,0.90,Queens,Queens,2,5.0,0.0
...,...,...,...,...,...,...,...,...,...
6339493,1580514284,1580514860,1.0,0.80,Manhattan,Manhattan,2,6.5,0.0
6339517,1580511866,1580512519,1.0,2.47,Brooklyn,Brooklyn,2,10.5,0.0
6339518,1580513933,1580514800,1.0,1.95,Brooklyn,Brooklyn,1,11.0,0.0
6339527,1580512667,1580513592,1.0,2.69,Manhattan,Bronx,2,12.5,0.0
6339530,1580514012,1580515652,1.0,19.83,Queens,Brooklyn,1,52.5,0.0

In [172]:
yt_districts_df.drop(yt_districts_df.loc[yt_districts_df.congestion_surcharge<=0].index, inplace=True)

In [173]:
#Verify
yt_districts_df.loc[yt_districts_df.congestion_surcharge<=0]

Empty DataFrame
Columns: [tpep_pickup_datetime, tpep_dropoff_datetime, passenger_count, trip_distance, PULocationID, DOLocationID, payment_type, fare_amount, congestion_surcharge]
Index: []

In [174]:
yt_districts_df.to_csv("./data/out/yt_districts_cleaned.csv")