In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as pl
import seaborn as sns

file_name = input("Type the file name (Must be in ./data/raw/<file_name> dir): ")
yt_df = pd.read_parquet("./data/raw/"+file_name)
yt_df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,1,2020-01-01 00:28:15,2020-01-01 00:33:03,1.0,1.2,1.0,N,238,239,1,6.0,3.0,0.5,1.47,0.0,0.3,11.27,2.5,None
1,1,2020-01-01 00:35:39,2020-01-01 00:43:04,1.0,1.2,1.0,N,239,238,1,7.0,3.0,0.5,1.50,0.0,0.3,12.30,2.5,None
2,1,2020-01-01 00:47:41,2020-01-01 00:53:52,1.0,0.6,1.0,N,238,238,1,6.0,3.0,0.5,1.00,0.0,0.3,10.80,2.5,None
3,1,2020-01-01 00:55:23,2020-01-01 01:00:14,1.0,0.8,1.0,N,238,151,1,5.5,0.5,0.5,1.36,0.0,0.3,8.16,0.0,None
4,2,2020-01-01 00:01:58,2020-01-01 00:04:16,1.0,0.0,1.0,N,193,193,2,3.5,0.5,0.5,0.00,0.0,0.3,4.80,0.0,None

In [4]:
yt_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6405008 entries, 0 to 6405007
Data columns (total 19 columns):
 #   Column                 Dtype
---  ------                 -----
 0   VendorID               int64
 1   tpep_pickup_datetime   datetime64[ns]
 2   tpep_dropoff_datetime  datetime64[ns]
 3   passenger_count        float64
 4   trip_distance          float64
 5   RatecodeID             float64
 6   store_and_fwd_flag     object
 7   PULocationID           int64
 8   DOLocationID           int64
 9   payment_type           int64
 10  fare_amount            float64
 11  extra                  float64
 12  mta_tax                float64
 13  tip_amount             float64
 14  tolls_amount           float64
 15  improvement_surcharge  float64
 16  total_amount           float64
 17  congestion_surcharge   float64
 18  airport_fee            object
dtypes: datetime64[ns](2), float64(11), int64(4), object(2)
memory usage: 928.5+ MB

In [5]:
yt_df.shape

(6405008, 19)

In [12]:
yt_df["passenger_count"].max()

9.0

In [15]:
yt_df["trip_distance"].max()

210240.07

In [17]:
yt_df["fare_amount"].min()

-1238.0

In [18]:
yt_df["fare_amount"].max()

4265.0

In [20]:
yt_df["extra"].min()

-27.0

In [21]:
yt_df["extra"].max()

113.01

In [22]:
yt_df["mta_tax"].min()

-0.5

In [23]:
yt_df["mta_tax"].max()

30.8

In [24]:
yt_df["improvement_surcharge"].min()

-0.3

In [25]:
yt_df["improvement_surcharge"].max()

0.3

In [26]:
yt_df["improvement_surcharge"].mean()

0.2979869814370256

In [28]:
yt_df["tip_amount"].min()

-91.0

In [29]:
yt_df["tip_amount"].max()

1100.0

In [30]:
yt_df["tolls_amount"].min()

-35.74

In [31]:
yt_df["tolls_amount"].max()

910.5

In [32]:
yt_df["total_amount"].min()

-1242.3

In [33]:
yt_df["total_amount"].max()

4268.3

In [34]:
yt_df["congestion_surcharge"].min()

-2.5

In [35]:
yt_df["congestion_surcharge"].max()

2.75

In [36]:
yt_df["airport_fee"].min()

nan

In [37]:
yt_df["airport_fee"].max()

nan